@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

body {
    margin: 0;
}
#page1, #page2, #page3 {
    height: 100vh;
    width: 100vw;
}
#page2, #page3 {
    background-image: url("Rectangle 4.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
#page2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 {
    background-image: url("image 4.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 400px;
    width: 500px;
}
.lorem {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
button {
    width: 409px;
    height: 76px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'KoHo', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3 {
    color: #000;
    font-family: 'KoHo', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p {
    color: #000;
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.abstract {
    width: 700px;
    height: 200px;
}
.abstract>p {
    margin: 0;
}
.abstract>h3 {
    margin-bottom: 0;
}
#page3 {
    justify-content: space-evenly;
}
#page3 div {
    width: 450px;
    height: 700px;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page3 img {
    width: 400px;
    height: 200px;
}