@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
}

header, footer {
    height: 25vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-color: rgba(141, 132, 132, 1);
}
footer {
    background-color: rgba(189, 189, 189, 1);
}

main {
    height: 50vh;
    width: 100vw;
    display: flex;

}
.content {
    height: 50vh;
    width: 75vw;
    justify-content: center;
    align-items: center;
}
.content-1 {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(119, 105, 105, 1);
}
.content-2 {
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(100, 48, 48, 1);
}
.content-3 {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(68, 24, 24, 1);
}
.spam {
    height: 50vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
}
.spam-1 {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(147, 117, 117, 1);
}
.spam-2 {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(100, 76, 76, 1);
}
